/*
* Stylesheet for inputs
* @author: Dory A.Azar
*/

.display {
    max-width: 20rem;
    background-color: transparent;
    border: none;
    padding: 1rem;
    color: rgba(0, 0, 0, .87);
    word-break: break-all;
    overflow: hidden;
    outline: none;
    -webkit-tap-highlight-color: transparent;
    min-height: 2rem;
    font-size: 1.5rem;
}

.displayContainer {
    background-color: #fff;
    box-shadow: 0 1px 6px rgb(32 33 36 / 28%);
    border-color: rgba(223, 225, 229, 0);
    border-radius: 1.5rem;
    z-index: 3;
    height: 100%;
    margin: 1rem auto;
    width: auto;
    max-width: 30rem;
}

.align-right {
    text-align: right;
}